body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #042e60;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
}

.left-side {
    height: 100%;
    width: 50%;
    background-color: white;
}
.right-side {
    height: 100%;
    width: 50%;
    overflow-y: scroll;
}

.v-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.v-container > * {
    margin: 1rem 1rem 0 1rem;
}

.v-container > input {
    height: 36px;
    border-radius: 24px;
    width: 50%;
    min-width: 150px;
    border: none;
    border: 1px solid #042e60;

    outline: transparent; /* --->  accesibility? */
    padding: 0px 1rem;
}

.card-container {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container > .card-item{
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    background-color: aliceblue;
    padding: 1rem;
}

.card-container > .card-item > .card-title{
    margin: 0;
}

[type~=submit] {
    height: 36px;
    border-radius: 18px;
}